appdirs
certifi
chardet
click
colorutils
Flask
Flask-SQLAlchemy
google-api-python-client
httplib2
idna
imagecolor
itsdangerous
Jinja2
MarkupSafe
oauth2client
olefile
packaging
Pillow
py-bing-search
py-ms-cognitive
pyasn1
pyasn1-modules
pyparsing
qhue
requests
rsa
searchcolor
six
SQLAlchemy
uritemplate
urllib3
Werkzeug
