<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/index">Rhys Hansen</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li id='index'><a href="/index">Home</a></li>
        <!-- <li id='image-average' class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Image Averaging<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/single_average">Single Image</a></li>
            <li><a href="/search_average">Search Color</a></li>x
          </ul>
        </li> -->
        <li id="search-average"><a href="/search_average">Color Consensus</a></li>
        <li id="history"><a href="/history">Color Consensus: History</a></li>
        <li id="single-image"><a href="/single_average">Image Average</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
<script>
$(document).ready(function() {
  switch (window.location.pathname) {
    case '/':
      $('#index').addClass("active")
      break;
    case '/index/':
      $('#index').addClass("active")
      break;
    case '/single_average/':
      $('#single-image').addClass("active")
      break;
    case '/history/':
      $('#history').addClass("active")
      break;
    case '/search_average/':
      $('#search-average').addClass("active")
      break;
    default:

  }
});
</script>
