{% extends "base.html" %}
{% block content %}
  <div class="container" style="margin-top:25px">
    <div class="row">
      <div class="col-md-3">
        <div class="input-group">
          <input id="search-string" name='gsearch' type="text" class="form-control" placeholder="Search">
          <div class="input-group-btn">
            <button id="search-submit" class="btn btn-default">
              <i class="glyphicon glyphicon-search"></i>
            </button>
          </div>
        </div>
        <h4 id="hex">
          Color as Hex:
        </h4>
        <h4 id="rgb">
          Color as RGB:
        </h4>
        <p>
          The color returned is the average color of the top 20 google image results for the searched word
        </p>
        </div>
      <div class="col-md-9">
        <div class="panel panel-default">
          <div id="averaged-block" class="img-rounded embed-responsive embed-responsive-16by9" style='background: #ffffff; '></div>
        </div>
        <div class="progress">
          <div id=process-progress class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
            Waiting for search
          </div>
        </div>
      </div>
    </div>
  </div>
<script>
    var isSubmitting = false;
    function search(){
      console.log('func called')
      if(isSubmitting) {
        return;
      }
      var query = $('#search-string').val()
      if(query.length < 1){
        return;
      }
      isSubmitting = true;
      console.log('Submitting')
      var data={
        'search': query,
      }
      console.log(data)
      $.ajax({
        url: $SCRIPT_ROOT + '/search_average/_search_single',  //server script to process data
        type: 'POST',
        headers: {'Content-Type': 'application/json; charset=UTF-8'},
        xhr: function() {
          var xhr = new window.XMLHttpRequest();
          xhr.upload.addEventListener("progress", function(evt) {
            if (evt.lengthComputable) {
              var percentComplete = evt.loaded / evt.total;
                percentComplete = parseInt(percentComplete * 100);
                if (percentComplete === 100) {
                  $('#process-progress').removeClass('progress-bar-info');
                  $('#process-progress').addClass('progress-bar-danger active');
                  $('#process-progress').html("Processing search");
              }
            }
          }, false);
          return xhr;
        },
        success: completeHandler = function(data) {
          $('#process-progress').removeClass('progress-bar-danger active');
          $('#process-progress').addClass('progress-bar-success');
          $('#process-progress').html("Finished");
          $('#averaged-block').css('background', data.result);
          var hex = "Color as Hex: " + data.result;
          $('#hex').text(hex);
          var rgb = "Color as RGB: "+ data.red + ", "+ data.green + ", "+ data.blue;
          $('#rgb').text(rgb);
          $('#averaged-block').focus()
          console.log('Success!');
          isSubmitting = false;
        },
        error: errorHandler = function() {
          isSubmitting = false;
          alert("Something went wrong!");
        },
        data: JSON.stringify(data),
        dataType: 'json',
        cache: false,
        contentType: false,
        processData: false
      }, 'json');
    };
    $('#search-submit').click(function(){
      search();
    });
    $('#search-string').bind('keydown', function(e) {
      if (e.keyCode == 13) {
        search();
      }
    });
    $('#search-string').change(function(){
      $('#process-progress').addClass('progress-bar-info');
      $('#process-progress').removeClass('progress-bar-danger progress-bar-success');
      $('#process-progress').html("Waiting for search");
      $('#averaged-block').css('background', "#ffffff");
      var hex = "Color as Hex: ";
      $('#hex').text(hex);
      var rgb = "Color as RGB: ";
      $('#rgb').text(rgb);

    });
  </script>
  </div><!-- /.container -->
{% endblock %}
